@CHARSET "UTF-8";

table, th, td {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: vardana, sans-serif;
	color: #555;
}

th,td {
	padding: 5px;
}

table.list th{
	background: #bbe9f0;
	color: #4F76A3;
}

/* tr:nth-child(even) {
	background: #E6EDF5;
} */

tr.even{
	background: #E6EDF5;
}

table tr:hover{
	background-color: #FEFDCF;
}

td a:link, td a:visited {
	color: #718ABE;
	text-decoration: none;
}

td a:hover{
	text-decoration: underline;
}