<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper

	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	

<mapper namespace = "board">



	<sql id="selectId">

		select h.no, h.house_no, h.user_no, h.content, h.score, h.blind_state,

				to_char(h.reg_date, 'yyyy-mm-dd') as reg_date, u.name as userName

		from house_comment h, users u

	</sql>

	<select id="selectAllBoard" parameterType="int" resultType="boardVO" >

		<include refid="selectId" />
		where h.user_no = u.no and house_no = #{no}
		order by no asc
	</select>

	

	<select id="selectOneByNo" parameterType="int" resultType="boardVO">

		<include refid="selectId" />

		where h.user_no = u.no and h.no = #{no}

	</select>

	

	<insert id="insertBoard" parameterType="boardVO" >

		insert into house_comment(no, house_no, user_no, content, score, blind_state, reg_date )

		values(house_comment_seq.nextval, #{house_no}, #{user_no}, #{content}, #{score}, 'N', sysdate)

	</insert>

	

	<delete id="deleteBoard" parameterType="boardVO" >

				delete house_comment

		 		where no = #{no}

	</delete>

	

	<update id="updateBoard" parameterType="boardVO" >

		update house_comment 

		 set content = #{content}, score = #{score}

		 where no = #{no} 

	</update>

	

	<update id="updateViewCnt" parameterType="boardVO">

		update house_comment

		set view_cnt = view_cnt +1

		where no = #{no}

	</update>

</mapper>