<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper

	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	

<mapper namespace = "qboard">



	<sql id="selectId">

		select no, house_no, user_no, question, answer, open_state,

				to_char(reg_date, 'yyyy-mm-dd') as reg_date

		from house_qna

	</sql>

	<select id="selectAllBoard" resultType="QboardVO">

		<include refid="selectId" />

		order by no desc

	</select>

	

	<select id="selectOneByNo" parameterType="int" resultType="QboardVO">

		<include refid="selectId" />

		where no = #{no}

	</select>

	

	<insert id="insertBoard" parameterType="QboardVO" >

		insert into house_qna(no, house_no, user_no, question, answer, open_state, reg_date )

		values(house_qna_seq.nextval, #{house_no}, #{user_no}, #{question}, '없음', 'Y', sysdate)

	</insert>

	

	<delete id="deleteBoard" parameterType="QboardVO" >

				delete house_qna

		 		where no = #{no}

	</delete>

	

	<update id="updateBoard" parameterType="QboardVO" >

		update house_qna 

		 set question = #{question}

		 where no = #{no} 

	</update>

	

	<update id="updateViewCnt" parameterType="QboardVO">

		update house_qna

		set view_cnt = view_cnt +1

		where no = #{no}

	</update>

</mapper>