<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace = "busi">

	<sql id="selectHouse">
		select no, USER_NO as userNo, house_name as houseName, addr, tel, room_cnt as roomCnt,
			bbq, pool, parking, singing, football, pickup, homepage, hot_start as hotStart, hot_end  as hotEnd,
			photo, blind_state as blindState,  checkin, checkout, content, to_char(reg_date,'yyyy-MM-dd') as regDate
		from house
	</sql>
	
	<sql id="selectRoom">
		select no, HOUSE_NO as houseNo, room_name as roomName, style, room_size as roomSize, person_min as personMin, person_max as personMax,
				h_week_price as hWeekPrice, h_weekend_price as hWeekendPrice, n_week_price as nWeekPrice,
				n_weekend_price as nWeekendPrice, over_price as overPrice, content, to_char(reg_date,'yyyy-MM-dd') as regDate
		from room
	</sql>
	
	<select id="selectHouseList" parameterType="int" resultType="houseVO">
		<include refid="selectHouse"/>
		where user_no = #{no}
		order by no desc
	</select>
	
	<select id="selectRoomList" parameterType="int" resultType="roomVO">
		<include refid="selectRoom"/>
		where HOUSE_NO = #{no}
		order by n_week_price asc
	</select>
	
	<insert id="insertHouse" parameterType="houseVO">
		insert into house
		values(HOUSE_SEQ.nextVal, #{userNo}, #{houseName}, #{addr}, #{tel}, #{roomCnt}, #{bbq}, #{pool}, #{parking}, #{singing},
				#{football}, #{pickup}, #{homepage}, #{hotStart}, #{hotEnd}, #{photo}, #{blindState}, #{checkin}, #{checkout}, #{content}, sysdate)
	</insert>
	
	<delete id="deleteHouse" parameterType="int">
		delete from house
		where no =#{no}
	</delete>
	
	<insert id="insertRoom" parameterType="roomVO">
		insert into room
		values(ROOM_SEQ.nextVal, #{houseNo}, #{roomName}, #{style}, #{roomName}, #{personMin}, #{personMax}, #{hWeekPrice}, #{hWeekendPrice},
				#{nWeekPrice}, #{nWeekendPrice}, #{overPrice}, #{content}, sysdate)
	</insert>
	
	<select id="selectRoomByNo" parameterType="int" resultType="roomVO">
		<include refid="selectRoom"/>
		where no = #{no}
	</select>
	
	<update id="updateRoom" parameterType="roomVO">
		update roomVO
		set HOUSE_NO = #{houseNo}, room_name = #{roomName}, style = #{style}, room_size = #{roomSize}, person_min = #{personMin},
			person_max = #{personMax}, h_week_price = #{hWeekPrice}, h_weekend_price = #{hWeekendPrice}, n_week_price = #{nWeekPrice},
			n_weekend_price = #{nWeekendPrice}, over_price = #{overPrice}, content = #{content}
		where no=#{no}	
	</update>
	
	<delete id="deleteRoom" parameterType="int">
		delete from room
		where no =#{no}
	</delete>
	
	<select id="findRoomNo" parameterType="java.util.Map" resultType="int">
		select no
		from room
		where house_no = ${houseNo} and room_name = #{roomName}
	</select>
	
	<insert id="insertRoomPhoto" parameterType="roomPhotoVO">
		insert into room_photo
		values(ROOM_PHOTO_SEQ.nextVal, #{roomNo}, #{photo})
	</insert>
	
	<select id="selectRoomPhotoList" parameterType="int" resultType="roomPhotoVO">
		select no, room_no as roomNo, photo
		from room_photo
		where room_no = #{no}
	</select>
	
	<select id="selectOneRoom" parameterType="int" resultType="roomVO">
		<include refid="selectRoom"/>
		where no = #{no}
	</select>
	
	<select id="selectOneHouse" parameterType="int" resultType="roomVO">
		<include refid="selectRoom"/>
		where house_no = #{no}
	</select>
</mapper>