@charset "utf-8";
/* 리스트 */
h3 + .thumb_list{margin-top:-11px;}
.thumb_list{overflow:hidden;margin:0 -1px 0 -16px;}
.thumb_list li{float:left;margin:16px 0 0 16px;width:205px;height:204px;background:#f8f8f8;font-size:12px;text-align:center;}
.thumb_list li *{display:block;}
.thumb_list li a{color:#626262;}
.thumb_list li a:hover{text-decoration:none;}
/*.thumb_list li a .p_discount{position:absolute;top:10px;right:10px;}*/
.thumb_list li img{width:205px;height:146px;}
.thumb_list li .ps_name{margin:7px 0 3px;font-size:14px;color:#4675bb;}
.thumb_list li a:hover .ps_name{text-decoration:underline;}

.list_list .col,
.list_list .row{border:1px solid #dedede;}
.list_list .col table,
.list_list .row table{margin-bottom:-1px;border:none;}
.list_list .col td,
.list_list .row td{border-bottom:1px solid #f2f2f2;}


/* 추천펜션 레이어팝업 */
.recommend_layer{padding:0 7px 0 5px;width:260px;background:url(/woori_tobe/images/member/bg_layer.png) 0 bottom;}
.recommend_layer .thumb img{width:260px;height:186px;border-top:3px solid #000;}
.recommend_layer dl{padding:11px 15px 18px;}
.recommend_layer dt{margin-bottom:8px;font-weight:bold;font-size:15px;color:#4675bb;}
.recommend_layer dd{margin-bottom:3px;padding-left:35px;text-indent:-35px;line-height:140%;}
.recommend_layer dd.remark{padding-left:60px;text-indent:-60px;}
.recommend_layer dd strong{color:#323232;}

/* 펜션상세보기 */
.cont_view {width:1088px;margin:0 auto;}

.cont_view .location {text-align:right;height:35px;padding-top:35px;border-bottom:2px solid #5e5e5e;margin:0 0 30px;}
.cont_view .location span {color:#323232;font-weight:bold;}

.cont_view .cont_detail {margin-bottom:50px;overflow:hidden;}
.cont_detail .img_area,
.cont_detail .pension_info {float:left;}

.cont_detail .img_area {width:500px;margin-right:35px;}
.cont_detail .img_view {position:relative;}
.cont_detail .img_view .special_price {position:absolute;bottom:0;left:0;}
.cont_detail .img_view .img_expansion {position:absolute;top:50%;left:50%;margin:-37px 0 0 -37px;display:none;z-index:10;}
.cont_detail .img_sum {border:1px solid #dedede;overflow:hidden;}
.cont_detail .img_tab {float:left;}
.cont_detail .img_tab li {/*background:url(/woori_tobe/images/common/tab_img_view.gif) no-repeat;*/width:84px;cursor:pointer;/*text-indent:-9999px;*/text-align:center;line-height:44px;}
.cont_detail .img_tab li.tab_int {height:46px;/*background-position:0 0;*/background-color:#efefef;}
.cont_detail .img_tab li.tab_int.on {/*background-position:-84px 0;*/background-color:#c7d5ea;font-weight:bolder;}
.cont_detail .img_tab li.tab_ext {height:44px;/*background-position:-84px -46px;*/background-color:#efefef;}
.cont_detail .img_tab li.tab_ext.on {/*background-position:0 -46px;*/background-color:#c7d5ea;font-weight:bolder;}
.cont_detail .img_sum .more_sum {float:left;overflow:hidden;width:386px;padding:20px 0 0 28px;position:relative;}
.cont_detail .img_sum .more_sum li {float:left;width:70px;height:50px;padding-right:2px;}
.cont_detail .img_sum .more_sum a.btn {position:absolute;left:8px;background:url(/woori_tobe/images/common/bg_btn_rolling02.gif) no-repeat 0 50%;width:20px;height:50px;text-indent:-9999px;}
.cont_detail .img_sum .more_sum a.next {background-position:100% 50%;left:387px;top:20px;}

.cont_detail .pension_info {width:553px;}
.pension_info .tit_area {overflow:hidden;border-bottom:1px solid #dedede;padding-bottom:18px;padding-top:0;}
.pension_info .tit_area h2 {max-width:260px;font-size:26px;color:#323232;float:left;}
.pension_info .tit_area .cart_compare {float:left;padding:10px 0 0 10px;}
.pension_info .sns_icons {float:right;overflow:hidden;margin-top:10px;}
.pension_info .sns_icons li {float:left;padding:0 0 0 5px;}
.pension_info .sns_icons li.like_plugin {padding-top:2px;}
.pension_info table {width:100%;margin-top:13px;}
.pension_info th,
.pension_info td {text-align:left;vertical-align:top;padding:7px 0 5px 0;}
.pension_info th {padding-top:10px;}
.pension_info input[type=image] {margin:-2px 0 0 7px;}
.pension_info .tip {display:none;position:absolute;border:2px solid #323232;background:#fff;padding:10px;width:232px;}
.pension_info .tip .tip_tit {color:#000;font-size:12px;font-weight:bold;border-bottom:1px solid #dedede;padding-bottom:5px;}
.pension_info .tip .tip_txt {font-size:12px;padding-top:5px;line-height:160%;}
.pension_info .tip .tip_txt span {color:#4675bb;font-weight:bold;}
.pension_info .point_tip {margin:2px 0 0 51px;}
.pension_info .coupon_tip {margin:2px 0 0 -118px;}
*:first-child+html .pension_info .point_tip {margin:26px 0 0 -89px;}
*:first-child+html .pension_info .coupon_tip {margin:26px 0 0 -260px;}
.pen_btns {margin-top:40px;/*padding-top:20px;border-top:1px solid #dedede;*/}
.pen_btns a {float:left;padding-right:1px;}

.cont_tab li.end.on {background:url(/woori_tobe/images/common/bg_tab_pattern02.gif);}
.cont_tab li.end.on a {background-image:url(/woori_tobe/images/common/ico_info_w.png);color:#fff;}

.cont_view .cont_tab_area {border-width:0 1px 1px 1px;border-style:solid;border-color:#dedede;overflow:hidden;}
.cont_view .cont_tab_area .cont_tab {border-bottom:1px solid #5e5e5e;}
.cont_tab_area .tab_cont {padding:36px 30px 40px 30px;}
.cont_tab_area .tab_notice {background:url(/woori_tobe/images/common/bg_notice.gif);border-bottom:1px solid #dedede;padding:10px 30px 8px 60px;overflow:hidden;position:relative;}
.cont_tab_area .tab_notice .tab_notice_tit {color:#4675bb;font-weight:bold;float:left;padding-right:60px;}
.cont_tab_area .tab_notice ul {float:left;}
.cont_tab_area .tab_notice li {width:450px;height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;-o-text-overow: ellipsis;}
.cont_tab_area .tab_notice a.btn {background:url(/woori_tobe/images/common/bg_btn_rolling03.gif) no-repeat 0 0;width:15px;height:15px;text-indent:-9999px;position:absolute;left:630px;margin-top:2px;}
.cont_tab_area .tab_notice a.next {background-position:100% 0;width:14px;left:645px;}

.tab_cont .room_name {font-size:15px;font-weight:bold;color:#4675bb;margin-top:20px;}
.tab_cont .room_name:first-child {margin-top:0;}
.tab_cont .room_name span {color:#323232;}
.tab_cont .tab_txt {margin:10px 0 0 0;line-height:160%;}
.tab_cont .tab_stit {margin:10px 0 -5px 0;line-height:160%;color:#323232;font-weight:bold;}
.tab_cont .tab_cont_pic {background:#f5f5f5;padding:32px 50px;margin-top:10px;overflow:hidden;}
.tab_cont .row table th {padding-left:20px;}
.tab_cont .btn_map {margin:-15px 0 10px 0;text-align:right;}
.tab_cont .map_area2 {display:none;}
.tab_cont .board_list,
.tab_cont .write {margin-top:10px;}
.tab_cont .tbl_cont {border-left:1px solid #dedede !important;}
.tab_cont .tbl_wrap {overflow: hidden;}
.tab_cont .tbl_wrap .write {width:49%;}
.tab_cont .tbl_wrap table.write th {font-weight:normal;}
.tab_cont .tbl_wrap table.write th span {font-weight:bold;}
.tab_cont .tbl_wrap table.fr td {padding:16px 0 18px 20px;}
.tab_cont p {margin-top: 0px;margin-bottom:0px;line-height: 20px;}

.tab_cont_pic .img {float:left;margin:18px 0;}
.tab_cont_pic .other_img {float:right;position:relative;height:430px;}
.other_img ul {top:32px;}
.other_img li {margin-bottom:4px;}
.other_img li .thumb_discount {position:absolute;background:url(/woori_tobe/images/urgency2/sticker02.png) no-repeat;width:20px;height:37px;text-align:right;color:#fff;font-size:16px;font-weight:bold;padding:5px 16px 0 0;}
.other_img li .thumb_name {position:absolute;bottom:0;width:100%;height:20px;background:url(/woori_tobe/images/urgency2/bg_thumb_name.png);padding-top:2px;color:#fff;text-align:center;}
.other_img li img {margin-right:4px;}
.other_img a.next {bottom:4px;}
.other_img a.btn {position:absolute;background:url(/woori_tobe/images/common/bg_btn_rolling_h.gif) no-repeat 120px 0;width:272px;height:15px;text-indent:-9999px;display:block;}
.other_img a.next {background-position:120px 100%;}
.other_img a.disabled {display:none !important;}
.other_img .caroufredsel_wrapper,
.other_img .caroufredsel_wrapper ul {width:272px !important;}

/*
.other_img #thumbs {top:32px;}
.other_img #thumbs img {margin:0 0 4px 4px;}
.other_img #thumbs div {width:272px;}
.other_img #prev,
.other_img #next {position:absolute;}
.other_img #next {bottom:0;}
.other_img #prev a,
.other_img #next a {background:url(/woori_tobe/images/common/bg_btn_rolling_h.gif) no-repeat 123px 0;width:272px;height:15px;text-indent:-9999px;display:block;}
.other_img #next a {background-position:123px 100%;}
.other_img #prev a.disabled, .other_img #next a.disabled {display: none !important;}

.tab_cont_pic .other_img ul {padding:20px 0 15px 0;overflow:hidden;height:400px;}
.tab_cont_pic .other_img li {float:left;padding:0 0 4px 4px;}
.tab_cont_pic .other_img a.btn {background:url(/woori_tobe/images/common/bg_btn_rolling_h.gif) no-repeat 123px 0;width:272px;height:15px;text-indent:-9999px;display:block;}
.tab_cont_pic .other_img a.next {background-position:123px 100%;}
*/
.cont_tab_area .col {border-width:1px 0 !important;}
.cont_tab_area .col .th {background:#e8e8e8;border-left:1px solid #f2f2f2;}
.cont_tab_area .col .th.first {border-left:1px solid #d2d2d2;}
.cont_tab_area .col td p {padding:1px 0;}
.cont_tab_area .col td.price_info {border:0 !important;text-align:right;padding:5px;color:#626262;line-height:120%;}
.cont_tab_area .col td.price_info span {display:none;}
.cont_tab_area .col td.price_info.room_discount {color:#e20000;font-weight:bold;}
.cont_tab_area .col td.price_info.room_discount span {display:block;text-decoration: line-through;color:#626262;font-weight:normal;}
.cont_tab_area .addition {margin:20px 20px 5px 20px;}
.addition .add_tit {font-weight:bold;color:#323232;padding:0 0 8px 0;}
.addition .dot_list {padding-bottom:18px;}

.view_recommend {width:100%;background:#eaeaea;margin:50px 0 0 0;padding:50px 0;}
.view_recommend h3 {font-size:15px;background:url(/woori_tobe/images/common/bul_h3.gif) no-repeat 0 5px;padding-left:17px;}
.view_recommend h3 span {color:#4675bb;}
.view_recommend ul {overflow:hidden;}
.view_recommend li {float:left;width:168px;background:#f8f8f8;text-align:center;margin-right:16px;}
.view_recommend li.end {margin:0;}
.view_recommend li p {padding:12px 0 14px 0;font-size:12px;}
.view_recommend li p span {font-weight:bold;display:block;font-size:13px;padding-bottom:5px;color:#000;}


.view_roomlist_all {width:100%;margin:10px 0;padding:20px 0;}
.view_roomlist_all h3 {font-size:15px;background:url(/woori_tobe/images/common/bul_h3.gif) no-repeat 0 5px;padding-left:17px;}
.view_roomlist_all h3 span {color:#4675bb;}
.view_roomlist_all td span.discount_fee {color:#E20000; font-weight:bold;}


.view_information {width:1038px;margin:0 auto; margin-top:50px}

.view_img_layer {visibility:hidden;position:absolute;top:30%;left:50%;margin-left:-314px;width:628px;height:468px;border:3px solid #4675bb;background:#fff;z-index:1000;padding:25px 0 0 30px;}
.view_img_layer .view_title {background:url(/woori_tobe/images/common/ico_camera.gif) no-repeat 0 5px;font-size:18px;font-weight:bold;color:#323232;padding:0 0 15px 33px;}
.view_img_layer .view_layer_close {position:absolute;right:-3px;top:-3px;cursor:pointer;}
.view_img_layer .img_area {position:relative;width:598px;overflow:hidden;}
.view_img_layer .img_area li {width:598px;height:398px;text-align:center;float:left;}
.view_img_layer .img_area li img {max-width:598px;height:398px;}
.view_img_layer .img_area a.btn {background:url(/woori_tobe/images/common/bg_btn_rolling02.png) no-repeat 0 0;width:44px;height:44px;text-indent:-9999px;position:absolute;top:50%;margin-top:-22px;}
.view_img_layer .img_area a.next {background-position:100% 0;right:0;}
.dim_area {display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:#000;filter:alpha(opacity=65);opacity:0.65;z-index:100;}

/* 긴급특가 */
.urgency_tab {margin-bottom:50px;}
.urgency_tab .cont_tab,
.urgency_tab .inner_tab {margin-left:-1px;}
.urgency_tab .cont_tab {border-bottom:1px solid #5e5e5e;}
.urgency_tab .cont_tab li {width:122px;}
.urgency_tab .inner_tab li {width:120px;}

.list_info {margin-top:50px; border-bottom:2px solid #5e5e5e;}
.urgency_thumb {overflow:hidden;margin-left:-16px;}
.urgency_thumb li {position:relative;width:260px;height:401px;float:left;margin:35px 0 0 16px;}
.urgency_thumb .pen_discount {position:absolute;top:0;right:0;background:url(/woori_tobe/images/urgency2/sticker.png) no-repeat;width:40px;height:50px;text-align:right;color:#fff;font-size:28px;font-weight:bold;padding:22px 26px 0 0;}
.urgency_thumb .pen_name {font-size:15px;font-weight:bold;text-align:center;background:#f5f5f5;border-width:0 1px;border-style:solid;border-color:#dedede;padding:10px 0 12px 0;}
.urgency_thumb .pen_name a {color:#000;}
.urgency_thumb .pen_name span {font-weight:normal;}
.urgency_thumb .urgency_detail {border:1px solid #dedede;padding:12px;}
.urgency_detail .urgency_discount {float:left;width:40%;text-align:center;color:#e20000;font-size:46px;font-weight:bold;margin:-15px 0 0 0;}
.urgency_detail .urgency_discount span {font-size:24px;margin-left:5px;}
.urgency_detail .urgency_price {float:left;width:53%;color:#000;font-size:22px;font-weight:bold;padding-left:7%;}
.urgency_detail .urgency_price span {display:block;text-decoration:line-through;color:#898989;font-size:13px;font-weight:normal;margin-bottom:-5px;}
.urgency_detail .urgency_balloon {clear:both;background:url(/woori_tobe/images/urgency2/bg_balloon.gif) no-repeat;width:234px;height:42px;padding:15px 0 0 0;text-align:center;line-height:140%;}
.urgency_detail .urgency_balloon span {color:#4675bb;font-weight:bold;}
.urgency_detail .urgency_btn {margin-top:8px;text-align:right;}
.urgency_btn a.margin {margin-right:3px;}

.urgency_list {}
.urgency_list li {margin:35px 0 0 0;border:1px solid #dedede;overflow:hidden;}
.urgency_list .discount_info {float:left;width:250px;padding:20px 25px;background:#fff;}
.discount_info .pen_name {font-size:24px;font-weight:bold;border-bottom:1px solid #dedede;padding-bottom:12px;}
.discount_info .pen_name a {color:#000;text-decoration:none;}
.discount_info .pen_name span {display:block;font-size:15px;font-weight:normal;color:#626262;padding-top:3px;}
.discount_info .list_discount {float:left;font-size:46px;font-weight:bold;color:#e20000;background:url(/woori_tobe/images/common/ico_down.gif) no-repeat 100% 33px;padding:0 30px 0 0;margin:60px 0 -10px 0;}
.discount_info .list_discount span {font-size:24px;margin-left:5px;}
.discount_info .list_price {clear:both;color:#000;font-size:26px;font-weight:bold;border-bottom:1px solid #dedede;padding-bottom:12px;}
.discount_info .list_price span {text-decoration:line-through;color:#898989;font-size:15px;font-weight:normal;margin-right:7px;}
.discount_info .list_date {line-height:160%;font-weight:bold;padding-top:12px;}
.discount_info .list_date span {color:#4675bb;}
.discount_info .list_btn {margin-top:20px;}

.urgency_list .pic_view {float:left;padding:20px 40px 16px 40px;background:#f5f5f5;}
.pic_view .img {float:left;margin:3px 26px 0 0;position:relative;}
.pic_view .img p {color:#000;font-weight:bold;font-size:14px;padding-bottom:10px;}
.pic_view .img p.pen_discount {position:absolute;top:30px;left:0;background:url(/woori_tobe/images/urgency2/sticker.png) no-repeat;width:40px;height:50px;text-align:right;color:#fff;font-size:28px;font-weight:bold;padding:22px 26px 0 0;}
.pic_view .other_img {float:right;position:relative;height:343px;}
.pic_view li {border:0;}
.pic_view .other_img li {margin-top:0;margin-bottom:4px;}
.pic_view .other_img div {position:relative;width:132px;float:left;margin-left:4px;}
.pic_view .other_img div:first-child {margin-left:0;}

.urgency_coupon {background:#eaeaea;margin:50px 0 -150px 0;padding:50px 0;}
.urgency_coupon .inner {position:relative;}
.urgency_coupon .coupon_select {width:100%;height:50px;padding-bottom:19px;}
.urgency_coupon .coupon_select .dropdown {position:absolute;top:20px;right:0;width:100px;border:1px solid #5f5f5f;background:#f8f8f8;}
.urgency_coupon .coupon_select .dropdown li,
.urgency_coupon .coupon_select .dropdown li.active {background:#f8f8f8;}
.urgency_coupon .coupon_select .dropdown .selected,
.urgency_coupon .coupon_select .dropdown li {padding:5px 10px;}
.urgency_coupon ul.coupon_list {clear:both;overflow:hidden;margin-left:-16px;}
.urgency_coupon ul.coupon_list li {width:168px;float:left;margin-left:16px;text-align:center;background:#f8f8f8;padding-bottom:12px;}
.urgency_coupon ul.coupon_list li span {display:block;}
.urgency_coupon ul.coupon_list li span.pen_name {color:#000;font-size:14px;font-weight:bold;margin-top:5px;}
.urgency_coupon ul.coupon_list li span.pen_location {font-size:12px;margin:2px 0 8px 0;}
.urgency_coupon ul.coupon_list li .coupon_date {color:#4675bb;font-weight:bold;margin:0 10px;border-top:1px solid #d7d7d7;padding:7px 0;}
.urgency_coupon ul.coupon_list li .get_coupon {color:#e20000;}

.urgency_paging {clear:both;text-align:center;margin:17px auto 0 auto;overflow:hidden;}
.urgency_paging a,
.urgency_paging .on {display:inline-block;background:url(/woori_tobe/images/common/bg_btn_paging02.gif) no-repeat;width:13px;height:13px;font-size:0;}
.urgency_paging a {background-position:100% 0;}
.get_coupon a {margin-left:3px;}

/* 긴급특가 상세 */
.cont_detail .img_view .pen_discount {position:absolute;top:0;left:0;background:url(/woori_tobe/images/urgency2/sticker.png) no-repeat;width:40px;height:50px;text-align:right;color:#fff;font-size:28px;font-weight:bold;padding:22px 26px 0 0;}
.urgency_view_top {/*border-bottom:1px solid #dedede;*/margin-top:-18px;padding-bottom:17px;}
.urgency_view_top .view_date {background:#f5f5f5;font-size:15px;font-weight:bold;padding:20px 25px 0;}
.urgency_view_top .view_text {background:#f5f5f5;font-size:12px;font-weight:bold;padding:10px 25px 0;}
.urgency_view_top .view_date span {color:#4675bb;font-size:17px;}
.discount_price {overflow:hidden;padding:20px 25px;background:#f5f5f5;border-bottom:1px solid #dedede;}
.discount_price .discount {float:left;line-height:100%;font-size:65px;font-weight:bold;color:#e20000;background:url(/woori_tobe/images/common/ico_down02.gif) no-repeat 100% 34px;padding:0 40px 0 0;margin:0 0 -10px 0;}
.discount_price .discount span {font-size:34px;margin-left:10px;}
.discount_price .price {float:left;line-height:100%;font-size:37px;color:#000;font-weight:bold;	padding:25px 0 0 20px;}
.discount_price .price span {text-decoration:line-through;color:#898989;font-size:21px;font-weight:normal;margin-right:10px;}
.urgency_view_top table {clear:both;background:#fff;margin-top:15px;}
.urgency_view_top th, .urgency_view_top td {padding:9px 0 6px 0;}
.urgency_view_top th {padding-top:12px;}

.pick_cld {padding:18px 32px 0 5px;}
.pick_dsc {text-align:right;padding-bottom:15px;font-weight:bold;color:#323232;}
.pick_dsc img {margin:-1px 0 0 20px;}
.pick_date_area {border:1px solid #3c5999;}
.pick_date_area .col {overflow:inherit;}
.pick_tit_area {background:url(/woori_tobe/images/mypage/bg_myinfo_tit.gif);overflow:hidden;padding:14px 24px;}
.pick_tit_area .pick_tit {float:left;}
.pick_tit_area .pick_stit {float:right;color:#fff;padding-top:4px;}

.pick_cld_list {overflow:hidden;}
.single_cld {background:url(/woori_tobe/images/urgency2/bg_calendar.gif) no-repeat;width:232px;height:270px;float:left;margin-left:30px;}
.single_cld .cld_month {font-size:22px;font-weight:bold;color:#dd8000;text-align:center;height:41px;padding-top:5px;}
.single_cld .calendar {margin-top:26px;}
.single_cld .calendar li {float:left;width:31px;height:25px;text-align:center;margin:1px;padding-top:6px;font-weight:bold;color:#999;}
.single_cld .calendar li a {text-decoration:none;padding:7px 10px;color:#323232;}
.single_cld .calendar li.select {background:url(/woori_tobe/images/urgency2/bg_cld_b.gif) no-repeat 1px 0;}
.single_cld .calendar li.select2 {background:url(/woori_tobe/images/urgency2/bg_cld_s.gif) no-repeat 1px 0;}
.single_cld .calendar li.select2 a {color:#fff;}
.single_cld .calendar li.select3 {background:url(/woori_tobe/images/urgency2/bg_cld_y.gif) no-repeat 1px 0;}
.single_cld .calendar li.h_day {color:#e68d8d;}
.single_cld .calendar li.h_day a {color:#d40000}
.single_cld .sun li:first-child {margin-left:1px;}
.single_cld .mon li:first-child {margin-left:34px;}
.single_cld .tue li:first-child {margin-left:67px;}
.single_cld .wed li:first-child {margin-left:100px;}
.single_cld .thu li:first-child {margin-left:133px;}
.single_cld .fri li:first-child {margin-left:166px;}
.single_cld .sat li:first-child {margin-left:199px;}

.pick_date_area .pick_date {float:right;padding:5px 0 20px 0;}
.pick_date_area .pick_date dl {height:32px;margin:10px 0;float:left;}
.pick_date_area .pick_date dt, .pick_date_area .pick_date dd {float:left;}
.pick_date_area .pick_date dt {color:#323232;font-weight:bold;padding:5px 10px 0 10px;}
.pick_date_area .pick_date dd input[type=text] {/*padding: 5px 0 0 5px;*/}
.pick_date_area .dropdown {border-color:#afafaf;}
.pick_date_area .dropdown .selected,
.pick_date_area .dropdown li {padding:8px 35px 7px 8px;text-align:left;background:#fafafa;}
.pick_date_area .pick_date p {float:left;margin:7px 1px 0 10px;}

.pick_date_area .col {clear:both;border-top:2px solid #5e5e5e;}
.pick_date_area .col td {padding:8px 10px;}
.pick_date_area .col .th {background:#e8e8e8;border-left:1px solid #f2f2f2;padding:5px 0 3px 0;}
.pick_date_area .col .choice {background:#e7eeff;}
.pick_date_area .col .first {border-left:1px solid #d2d2d2;}
.pick_date_area .col .tfoot {background:#e8e8e8;text-align:right !important;color:#323232 !important;}
.pick_date_area .col .tfoot span {font-size:14px;color:#000;font-weight:bold;}
.pick_date_area .col .tfoot2 {background:#f2f2f2;text-align:right !important;color:#e20000 !important;font-weight:bold;}
.pick_date_area .col .tfoot2 span {font-size:18px;}
.pick_date_area .col .price_org {text-decoration:line-through;color:#898989;display:block;}
.pick_date_area .col .price_discount {color:#e20000;font-size:14px;font-weight:bold;}
.pick_date_area .col .price_discount em {font-weight:normal;}
.pick_date_area .col .finish {color:#e20000;font-weight:bold;margin-right:5px;}
.pick_date_area .col .dropdown .selected,
.pick_date_area .col .dropdown li {padding:5px 8px;text-align:left;background:#fafafa;}

.pick_btn {text-align:center;margin:30px 0 50px 0;}

.urgency_rcm {margin-bottom:-150px;}
.urgency_rcm .urgency_thumb li {margin-top:0;}
.urgency_rcm .urgency_thumb li p span {display:inline;}
.urgency_rcm .urgency_detail {background:#fff;}
.urgency_rcm .urgency_price {text-align:left;}

/***** 통합검색 *****/
.total_search_area{height:98px;background:url(/woori_tobe/images/common/bg_total_search.gif);}
.total_search{margin:0 auto;padding:15px 0 0;width:1088px;}
.total_search:after{content:'';display:block;clear:both;}
.total_search .popular{position:relative;z-index:10;float:left;width:648px;height:68px;background:url(/woori_tobe/images/common/bg_total_search2.gif) right 0 repeat-y;}
.total_search .popular > dt{float:left;padding:8px 0 0 20px;width:75px;background:url(/woori_tobe/images/common/ico_total_search.png) 0 10px no-repeat;font-weight:bold;color:#fff;}
.total_search .popular dt.keyword{background-position:0 -25px;}
.total_search .popular > dd{position:relative;z-index:5;float:left;padding:8px 0 6px;width:553px;background:none;}
.total_search .popular dt.keyword + dd{z-index:3;}
.total_search .popular > dd > ol{overflow:hidden;padding-right:50px;height:20px;}
.total_search .popular dd ol li{float:left;padding-left:18px;color:#e2b32a;}
.total_search .popular dd ol li a{color:#fff;}
.total_search .popular dd .more{position:absolute;top:9px;right:20px;margin:0;cursor:pointer;}
.total_search .popular dd .popular_all{display:none;position:absolute;top:6px;left:15px;z-index:10;width:517px;border:2px solid #0d153a;background:#fff;}
.total_search .popular dd .popular_all .close{position:absolute;top:15px;right:20px;cursor:pointer;}
.total_search .popular dd .popular_all .close img{width:12px;height:12px;}
.total_search .popular dd .popular_all dt{padding:13px 0 13px 20px;border-bottom:1px solid #dedede;font-size:15px;font-weight:bold;color:#323232;}
.total_search .popular dd .popular_all dd{padding:15px 20px 17px 2px;}
.total_search .popular dd .popular_all dd ol{overflow:hidden;}
.total_search .popular dd .popular_all dd li{color:#4675bb;line-height:150%;font-weight:bold;white-space:nowrap;}
.total_search .popular dd .popular_all dd a{font-weight:normal;color:#323232;}

.total_search .area{float:left;padding-left:20px;width:183px;}
.total_search .area dt{float:left;width:63px;font-weight:bold;color:#fff;line-height:28px;}
.total_search .area dd{float:left;width:120px;margin-bottom:8px;}

.total_search .fr{width:225px;}
.total_search .fr a.btn_search{display:block;padding-top:38px;width:100%;height:30px;background:url(/woori_tobe/images/common/bg_btn_search.gif) 50% 0 no-repeat;font-weight:bold;font-size:15px;color:#fff;text-align:center;}

.noresult{margin:120px auto;padding:18px 0 0 100px;width:300px;height:62px;background:url(/woori_tobe/images/common/bg_noresult.gif) no-repeat;font-size:18px;line-height:140%;}
.noresult span{font-weight:bold;font-size:14px;}
