<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "user">

	<resultMap type="houseVO" id="houseMap">
		<result column="user_no" property="userNo"/>
		<result column="house_name" property="houseName"/>
		<result column="room_cnt" property="roomCnt"/>
		<result column="hot_start" property="hotStart"/>
		<result column="hot_end" property="hotEnd"/>
		<result column="blind_state" property="blindState"/>
		<result column="reg_date" property="regDate"/>
	</resultMap>
	
	<select id="houseDetail" parameterType="int" resultMap="houseMap">
		select * from house where no=#{no}
	</select>
	
	<sql id="selectUser">
		select  no, id, password, name, tel, email, birthday, type, to_char(REG_DATE,'yyyy-MM-dd') as regDate
		from users
	</sql>
	<select id="login" parameterType="userVO" resultType="userVO">
		<include refid="selectUser"/>
		where id=#{id} and password=#{password}
	</select>
	
	<select id="idCheck" parameterType="String" resultType="userVO">
		<include refid="selectUser"/>
		where id=#{id}
	</select>
	
	<insert id="register" parameterType="userVO">
		insert into users
		values(USERS_SEQ.nextVal, #{id}, #{password}, #{name}, #{tel}, #{email}, #{birthday}, 'U', sysdate)
	</insert>
</mapper>
